/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Calibri, sans-serif;
    color: #354041;
}

/* header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-color: #ffffff;
    color: #354041;
}

header img {
    height: 60px;
}

header nav ul {
    list-style: none;
    display: flex;
    column-gap: 10px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Calibri, sans-serif;
    color: #354041;
}

/* main */
.banner-principal{
    background-image: url(./../assets/ingeniero-planos.jpg);
    background-position: center;
    width: 100vw;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-principal-texto{
    /* position: absolute; */
    font-family: Calibri, sans-serif;
    font-weight: 300;
    font-size: 50px;
    text-transform: uppercase;
}

.contenedor-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #E1E000;
    color: #ffffff;
    align-items: center;
    gap: 40px;
}

.contenedor-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-self: center;
    grid-area: card,card,card;
    background-color: #53565A;
    color:#ffffff;
    font-family: Calibri, sans-serif;
}

.contenedor-grid-nosotros{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-self: center;
    grid-area: card-nosotros,card-nosotros;
    font-family: Calibri, sans-serif;
}

.card{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 350px;
    height: 380px;
    justify-self: center;
    align-items: center;
    font-family: Calibri, sans-serif;
    background-color: #53565A;
}

.card img{
    width: 100%;
    height: 200px;
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    text-align: center;
    padding: 10px;
    font-family: Calibri, sans-serif;
    color: #ffffff;
}

.card-text a{
    text-decoration: none;
    color: #ffffff;
}

.contenedor-somos{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card-nosotros{
    justify-self: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.contenedor-contacto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-self: center;
    grid-area: card,card;
    height: 100vh;
    font-family: Calibri, sans-serif;
}

.card-contacto{
    align-items: center;
}

.boton-verde{ 
    background-color: #E1E000;
}

/* footer */
.footer-flex{
    background-color: #ffffff;       
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    align-items: center;    
    padding: 10px;
    gap: 40px;
    height: 200px;
    font-family: Calibri, sans-serif;
}

footer div ul{
    list-style: none;
}

footer img{
    height: 80px;
}

.footer-card{
    margin-top: 20px;
    width: 350px;
    height: 180px;
    padding: 10px;
    text-align: center;
}

/* media queries */
/* media tablet */
/* @media screen and (max-width 1024px){
    
} */

/* media mobile */
@media screen and (max-width 768px){
    .banner-principal-texto{
        position: absolute;
        font-family: Calibri, sans-serif;
        font-weight: 300;
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;
    }
}